[Unit]
Description=TrueVPN FastAPI Server & Subscription Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/truevpn
ExecStart=/opt/truevpn/venv/bin/python3 server.py
Restart=always
RestartSec=5
EnvironmentFile=/opt/truevpn/.env

[Install]
WantedBy=multi-user.target
